@attribute [Authorize]
@page "/folder"

@using Microsoft.AspNetCore.Authorization
@using template.Shared.RequestModels

@inject template.Client.Services.API API
@inject template.Client.Services.AppState _appState
@inject IToastService _toastService
@inject NavigationManager _navigationManager

<div class="row">
    <div class="col-md-12 text-center">
        <h3>Create a new folder</h3>
        <p>All data must be in a folder. This folder name can be changed at any time.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="mt-1">
            <input type="text" placeholder="Folder Name" class="form-control" @bind="FolderName" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="mt-1">
            <input type="button" class="btn btn-info float-right" value="Create Folder" @onclick="CreateFolder" />
        </div>
    </div>
</div>

@code {

    public string FolderName { get; set; }

    public async Task CreateFolder()
    {
        var content = new FolderCreateEditRequestModel() { Name = FolderName };

        var response = await API.FolderCreate(content);
        _toastService.ShowSuccess("Folder Created. Switching to Folder...");

        await Task.Delay(1000);
        await _appState.UpdateAppState();
        _navigationManager.NavigateTo($"/folder/{response.Id}");
    }
}