@page "/"
@page "/folder/{FolderId}"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

@inject template.Client.Services.AppState _appState
@inject template.Client.Services.API API

<AuthorizeView>
    <Authorized>
        <a class="btn btn-outline-dark btn-lg mx-auto w-100" href="customers")">
            Go to Customer Search <i class="fas fa-arrow-right float-right ml-1 mt-1"></i>
        </a>
        <input type="button" class="btn btn-primary" value="Seed DB" @onclick="SeedDB" />
    </Authorized>
    <NotAuthorized>
        <div class="row">
            <div class="mx-auto">
                <a class="btn btn-lg btn-outline-success btn-home mt-5" href="authentication/login">Log in</a>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto">
                <a class="btn btn-lg btn-outline-primary btn-home mt-5" href="authentication/register">Register</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <p class="app-desc">
            template is a free &amp; open source CRM/XRM. It enables a user to save/search/share data. This application is designed with small businesses or organizations in mind. Unlike many other CRM-type applications it does not complicate the application with workflows and triggers. It focuses on one thing - enabling you to organize and search for your data.
        </p>
        <a href="https://github.com/dahln/template/blob/master/LICENSE" target="_blank">License &amp; Terms</a>
    </div>
</div>

@code {

    [Parameter]
    public string FolderId { get; set; }

    protected override void OnInitialized()
    {
        _appState.OnChange += StateHasChanged;

        base.OnInitialized();
    }

    public async override Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        var result = await _appState.UpdateAppState(FolderId);
    }

    private async Task SeedDB()
    {
        await API.SeedDB(1000);
    }
}

