html, body {
}

.pointer {
    cursor: pointer;
}

.navbar-brand {
    color: limegreen !important;
}

.blazored-toast-container {
    z-index: 10000;
}

.required-astrisk {
    color: red;
    font-weight: bold;
}

.header-separator{
    color: orangered;
}

.dialog-btn {
    width: 110px;
}

.btn-home {
    width: 150px;
}

.new-field {
    background-color: cadetblue;
}

.CreateNewLink {
   
}

label {
    font-weight: 500;
}

.link {
    background-color: #eeeeee;
}

.app-desc {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.tiny-text {
    font-size: 10px;
}