html, body {
    font-family: 'OCR A','OCR-A II','OCR B MT', sans-serif !important;
}

.pointer {
    cursor: pointer;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazored-toast-container {
    z-index: 10000;
}

.required-astrisk {
    color: red;
    font-weight: bold;
}

.header-separator{
    color: orangered;
}