html, body {
}

.pointer {
    cursor: pointer;
}

.blazored-toast-container {
    z-index: 10000;
}

.required-astrisk {
    color: red;
    font-weight: bold;
}

.header-separator{
    color: orangered;
}

.dialog-btn {
    width: 110px;
}

.btn-home {
    width: 150px;
}

.new-field {
    background-color: cadetblue;
}

.CreateNewLink {
   
}

label {
    font-weight: 500;
}

.link {
    background-color: #eeeeee;
}