.error-container {
    z-index: 5000;
    width: 100vw;
    height: 100vh;
}
.error-message {
    color: white;
}
.error-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 4000;
    width: 100%;
    height: 100%;
}
