@page "/"
@inject AppState _appState

<h1>Hello, world!</h1>

Welcome to your new app.

@code { 
    async protected override Task OnInitializedAsync()
    {
        await _appState.UpdateAppState();
    }
}
