@page "/"
@inject AppState _appState

@if (_appState.CurrentGroupName != null)
{
    <div class="row mt-5">
        <h4 class="mx-auto">@_appState.CurrentGroupName</h4>
    </div>
}

@code {

    [Parameter]
    public string GroupId { get; set; }

    async protected override Task OnInitializedAsync()
    {
        _appState.OnChange += StateHasChanged;

        await _appState.UpdateAppState(GroupId);
    }
}