@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<LoadingBar></LoadingBar>

<BlazoredToasts Position="ToastPosition.BottomLeft"
                Timeout="5"
                SuccessIconClass="fas fa-check"
                ErrorIconClass="fas fa-exclamation" />

<TopNavigation />

<div class="mt-3 mb-5 px-5">
    @Body
</div>
