@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<LoadingBar></LoadingBar>

<BlazoredToasts Position="ToastPosition.BottomLeft"
                Timeout="7"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fas fa-check"
                ErrorIcon="fas fa-exclamation"/>

<BlazoredModal />

<TopNavigation />

<div class="mt-3 mb-5 px-5">
    @Body
</div>
